body, html, iframe {
	border: none;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

#indexPresentationNoMap {
	padding: 1em;
}
#indexPresentationNoMap h1 {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
}
#indexPresentationNoMap p {
	margin: 0;
	padding: 0;
}