
<div id="eventDetailApp" >
<ion-tabs class="tabs-top tabs-background-positive tabs-color-light">

	<!-- close event details -->
	<ion-tab icon-on="valezy-icon-close-on" icon-off="valezy-icon-close-off" data-ng-click="close()">
	
		<ion-view class="box">
		
			<ion-header-bar class="bar-dark">
				<h1 class="title">Close</h1>
			</ion-header-bar>
			
			<ion-content>
			</ion-content>
			
		</ion-view>
	</ion-tab>

	<!-- description's tab -->
	<ion-tab icon-on="valezy-icon-description-on" icon-off="valezy-icon-description-off">
	
		<ion-view class="box">
		
			<ion-header-bar class="bar-dark">
				<h1 class="title">Description</h1>
			</ion-header-bar>
			
			<ion-content>
				<h1 class="title" data-ng-bind="event.title"></h1>
				<p data-ng-bind="event.description">
				</p>
			</ion-content>
			
		</ion-view>
	</ion-tab>
	
	<!-- informations' tab -->
	<ion-tab  icon-on="valezy-icon-information-on" icon-off="valezy-icon-information-off">
		<ion-view>
		
			<ion-header-bar class="bar-dark">
				<h1 class="title">Informations</h1>
			</ion-header-bar>
			
			<ion-content>
				informations
			</ion-content>
			
		</ion-view>
	</ion-tab>
	
	<!-- photos' tab -->
	<ion-tab  icon-on="valezy-icon-photo-on" icon-off="valezy-icon-photo-off">
		<ion-view>
		
			<ion-header-bar class="bar-dark">
				<h1 class="title">Photos</h1>
			</ion-header-bar>
			
			<ion-content>
				pictures
			</ion-content>
			
		</ion-view>
	</ion-tab>
	
</ion-tabs>
</div>