<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-ng-app="mapApp" data-ng-controller="mapController">
		<leaflet id="map"
			center="switzerlandPosition"
			tiles="mapboxTiles"
			layers="layers"
			markers="markers"
		></leaflet>

	<script type="text/javascript">
		window.fw = parent.fw;
		
		(function(){			
			fw.getJsCss( [
			              "mapCSS", "leafletCSS", "markerClusterCSS",
			              "leafletJS", "markerClusterJS", "angularJS",
			              "angularRouteJS", "angularUIRouterJS",
			              "angularLeafletDirectiveJS", "mapJS"
			              ], document);
		})();
		
	</script>
</body>
</html>